@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="HomePage" content="width=device-width"/>
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Grocery Store</h1>
</body>
</html>
